/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  src: url(../font/Orbitron/Orbitron-Medium.ttf);
}

body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  overflow: hidden;
}

a {
  color: #0563bb;
  text-decoration: none;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 991px) {
  #main {
    margin-left: 90px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #fff;
  background: #0563bb;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #0563bb;
}

/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
#Home {
  width: 100%;
  height: 100vh;
  background-color: #f2f3f5;
}

#home .clock {
  margin: 0 auto;
  background: #0563bb;
  height: auto;
  width: 150px;
  border-radius: 7px;
  box-shadow: 0 0 4px rgba(0,0,0, 0.7);
}

#home .clock .display {
  padding: 6px 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: "Orbitron";
}

#Home h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #45505b;
}

#Home p {
  color: #45505b;
  margin: 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#home .footer {
  width: 100%;
  height: auto;  
  padding: 8px 0;
  position: absolute;
  top: 85vh;
}

#home .footer .copyright {
  font-size: 14px;
  text-align: center;
  color: #45505b;
}

@media (max-width: 992px) {
  #Home {
    text-align: center;
  }

  #Home h1 {
    font-size: 32px;
    line-height: 36px;
  }

  #Home p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Whiteboard Section
--------------------------------------------------------------*/

#canvas {
  width:fit-content;
  height:fit-content;
  margin-left: -88px;
}

#clrbtn{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  font-weight: bold;
  background-color: rgb(16, 67, 161);
  color: #fff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  left: 90%;
  top: 2%;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0 10px #272829;
  border: none;
  transition: 40ms;
}

#clrbtn:active{
  transform: scale(0.95);
}

#clrbtn:hover{
  background-color: rgb(194, 5, 33);
  color: #fff;
  transition: 30ms;
}

/*--------------------------------------------------------------
# Pomodoro Section
--------------------------------------------------------------*/
:root {
  font-size: 62.5%; /* 1rem = 10px */
  
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(193, 100%, 50%);
  --color-font: hsl(233, 100%, 22%);

}

html, body {
  
  height: 100%;
  font-size: 1.6rem;
  font-family: 'Open sans', sans-serif;
}

p,
i,
#pmdr {
  color: var(--color-font);
}

i {
  font-size: 3.2rem;
}

.pmdr{
  margin-top: 5%;
  font-size: 3.2rem;
  color: darkblue;
  font-weight: bold;
  cursor: pointer;
}

/* ==== CONTENT ==== */

.container {
  width: min(42.5rem, 100%);
  margin-inline: auto;
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.painel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-family: "orbitron";
  width: 20rem;
  margin-block: 5rem;
  padding: 1rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0px 0px 15px 10px var(--color-shadow); 
  box-shadow: 0px 0px 15px 10px var(--color-shadow);
  margin-bottom: -20px;
  margin-top: 100px;
}

.painel p {
  opacity: .8;
  transition: 0.2s ease-in;
}

.painel p.active {
  opacity: 1;
  color: var(--color-secondary);
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px 10px var(--color-shadow); 
  box-shadow: 0px 0px 15px 10px var(--color-shadow);
}

.circle {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  font-family: "Orbitron";
  width:100%;
  height: 30%;
  background-color: var(--color-secondary);
  box-shadow: 0 0 20px #0f007d;
}

.circle::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 75%;
  background-color: var(--color-primary);
}

.time {
  position: relative;
  display: flex;
  flex-direction: row;
}

.time p {
  font-size: 5.6rem;
}

.time p:nth-of-type(2) {
  position: relative;
  top: -.5rem;
  margin-inline: 1rem;
}

.controls {
  margin-top: 3rem;
}

.controls button {
  border: none;
  background-color: transparent;
  box-shadow: none;
  font-size: 50px;
  cursor: pointer;
  align-items: center;
  transition: 0.1s;
}

.controls button :hover {
  color: hsl(193, 100%, 50%);
  transition: 0.1s;
}

.controls #reset {
  margin-top: -40px;
  display: none;
  transition: 0.1s;
}

.controls #reset :hover {
  color: hsl(193, 100%, 50%);
  transition: 0.1s;
}
#txtst{
  color: darkblue;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  transition: 0.1s;
}
#start{
  display: block;
  position: relative;
  margin-top: -40px;
}
#start :hover{
  color: hsl(193, 100%, 50%);
  transition: 0.1s;
}
#start :active{
  transform: scale(0.95);
}

/*--------------------------------------------------------------
# Calculator Section
--------------------------------------------------------------*/
#calculator {
  width: 100%;
  height: 100vh;
}

#calculator .container {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

#calculator .calculator-bg {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px #000;
}

#calculator .theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

#calculator .theme-toggler.active {
  color: #333;
}

#calculator .theme-toggler.active::before {
  background-color: #fff;
}

#calculator .theme-toggler::before {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

#calc-display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#calc-display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

#calculator button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

#calculator button:hover {
  transform: scale(1.1);
}

#calculator button#equal {
  height: 130px;
}

/* light theme */

#calculator .calculator-bg {
  background-color: #fff;
}

#calculator .calculator-bg #display {
  color: #0a1e23;
}

#calculator .calculator-bg button#clear {
  background-color: #ffd5d8;
  color: #fc4552;
}

#calculator .calculator-bg button.btn-number {
  background-color: #c3eaff;
  color: #000000;
}

#calculator .calculator-bg button.btn-operator {
  background-color: #ffd0fb;
  color: #f967f3;
}

#calculator .calculator-bg button.btn-equal {
  background-color: #adf9e7;
  color: #000;
}

/* dark theme */

#calculator .calculator-bg.dark {
  background-color: #071115;
}

#calculator .calculator-bg.dark #display {
  color: #f8fafb;
}

#calculator .calculator-bg.dark button#clear {
  background-color: #2d191e;
  color: #bd3740;
}

#calculator .calculator-bg.dark button.btn-number {
  background-color: #1b2f38;
  color: #f8fafb;
}

#calculator .calculator-bg.dark button.btn-operator {
  background-color: #2e1f39;
  color: #aa00a4;
}

#calculator .calculator-bg.dark button.btn-equal {
  background-color: #223323;
  color: #ffffff;
}